.App {
  text-align: center;
}

.logo {
  padding: 14px;
}
.logo img {
  width: 100%;
  object-fit: contain;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.products__list{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-gap: 10px;
}
